   
    * {    
      box-sizing: border-box;    
      margin: 0;    
      padding: 0;    
      font-family: Arial, sans-serif;    
    }    
    body {    
      background-color: #FEFBE9;    
    }    
    .header {    
      background-image: url("images//18.jpg");    
      background-repeat: no-repeat;    
      background-size: cover;    
      color: white;    
      text-align: center;    
      padding: 100px;    
    }    
    .nav {    
      background-color: #183A1D;    
      display: flex;    
      align-items: center;    
      padding: px;    
    }    
    .nav-links {    
      display: flex;    
      gap: 15px;    
    }    
    .nav a {    
      color: white;    
      text-decoration: none;    
      padding: 25px 25px;    
      background-color: #183A1D;  
        transition-delay: 1s;
    }    
    .nav a:hover {    
      background-color: #F0A04B;    
    }    
    .nav-right {    
      margin-left: auto;    
      color: white;    
      text-decoration: none;    
      padding: 10px;    
      background-color: #183a1d;    
    }    
    .nav-right:hover {    
      background-color: #f0a04b;    
    }    
    .container {    
      display: flex;    
      padding: 20px;    
    }    
    .sidebar {    
      width: 30%;    
      padding: 15px;    
      background: #e1eedd;    
      border: 1px solid #6C453F;    
    }    
    .main-content {    
      width: 70%;    
      padding: 15px;    
      background: white;    
      margin-left: 20px;    
      border: 1px solid #6c453f;    
    }    
    .sidebar img, .main-content img {    
      width: 100%;    
      height: auto;    
      display: block;    
      margin: 10px 0;    
       border-radius: ;    
    }    
    .footer {    
      background-color: #F6C453;    
      color: #183A1D;    
      text-align: center;    
      padding: 10px;    
      margin-top: 20px;    
          
    }    
    .circle {    
      width: 100%;    
      height: auto;    
      border-radius: 50%;    
      border: 5px solid #F0A04B;    
      object-fit: cover;    
          
    }    
    .about-section {    
      text-align: center;    
      margin-bottom: 20px;    
    }    
    h2 {    
      margin-bottom: 10px;    
      color: #183A1D;    
    }    
    h1 {    
      color: #000000;    
    }    
    p {    
      color: #000;   
      text-align: justify;
    }   
    .rounded,.border{
      border-radius:10px;
    
    }
      .rounded:hover{
      transform: scale(1.5);
      transition: transform 0.3s ease;
      }
      h3{
        font-size: 15px;
        color: black;
      }
        
     
